body{
	background-color: black;
}
h1{
	font-size: 30px;
	font-family: Roboto;
	background: black;
	color: white;
}
h2{
	color: re
}

p{
	color: white;
}
a{
	text-decoration: none;
	color: white;
}

#section{
	background-color: black;
	margin: 20px;
	color: white;
}
button{
	margin: center;
}
#ghost{
	width: 300px


}
#portada{
	width: 300px
}
